<section>
  <shine-customers-app></shine-customers-app>
</section>
<%= javascript_pack_tag "customers" %>

<% if @customers.present? %>
  <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
<% end %>
